/* Estilo para a tabela */
table {
    border-collapse: collapse; /* Faz com que as bordas das células se fundam (sem espaço entre elas) */
    height: 40px;
    table-layout: fixed; /* Define a largura fixa para as células da tabela */
    margin-top: 20px;
}

/* Estilo para células (th e td) da tabela */
th, td {
    border: 1px solid #ddd !important; /* Define uma borda fina e cinza claro */
    padding: 10px; /* Define um espaçamento interno nas células para que o texto não fique encostado nas bordas */
    text-align: center !important; /* Centraliza o conteúdo das células */
}

/* Estilo para o cabeçalho da tabela (th) */
th {
    background-color:  #1A7F83; ; /* Define um fundo cinza claro para o cabeçalho */
}

/* Estilo para as células da tabela */
td {
    height: 10px; /* Define uma altura fixa de 10px para as células da tabela */
}

#titulo_calendario{
    color: #fff;
    border-color: #1A7F83 !important;
    height: 11px;
    transition: 0.6s;
}

#titulo_calendario:hover{
    color: #CF6F7A;
}

#nome_dia{
    background-color: #fff ;
    color:  #1A7F83;
    transition: 0.6s;
}

#nome_dia:hover{
    color: #CF6F7A;
}

/* Estilo para o dia atual no calendário */
.today {
    color: #1A7F83; /* Define uma cor de texto em tom azul esverdeado */
    background-color: #f4f4f4 !important; /* Define um fundo cinza claro para o dia atual */
    font-weight: bold; /* Deixa o texto em negrito */
}

/* Estilo para a célula de data selecionada no calendário */
.selected {
    background-color: #1A7F83 !important; /* Define um fundo azul esverdeado para a célula selecionada */
    color: white; /* Define a cor do texto como branco */
    transform: scale(1); /* Destaque maior para a célula selecionada */
    transition: transform 0.3s ease, background-color 0.3s ease
}

/* Estilo para as setas de navegação (anterior e próximo mês) */
.prev-next {
    cursor: pointer; /* Indica que o elemento é clicável */
}

#titulo_calendario i{
    color: #fff; 
    transition: 0.6s;
}

#titulo_calendario i:hover{
    color: #CF6F7A;
} 
/* Estilo para as células de data clicáveis no calendário */
.date-select {
    cursor: pointer; /* Indica que a célula é clicável */
    padding: 5px; /* Adiciona um espaçamento interno nas células de datas */
    height: 30px;
    width: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
#calendario-dinamico {
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(0);
    opacity: 1;
}

/* Estilo para as células de data quando o mouse passa por cima (hover) */
.date-select:hover {
    background-color: #ddd; /* Muda o fundo para um cinza mais escuro ao passar o mouse */
    transform: scale(1.1); /* Aumenta o tamanho ao passar o mouse */
}
.consulta-titulo {
    color: #CF6F7A;
    margin-bottom: 20px;
}

#saiba_consulta{
    margin-bottom: 10px !important;
    font-size: 15px;
    transition: 0.6s;
}
h3{
    font-family: ramole;
    color: #1A7F83;
}
